<div class="chat-header">

  <p class="title">Allergy Baby Avenger</p>
  <%= image_tag "kids_eat.png", class: "recipe-image-title" %>
  <div class="header-bar-top">
    <% if user_signed_in? %>
          <%= link_to new_recipe_path(current_user), class: "btn_11" do %>
            レシピ投稿
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: "logout" do %>
            <button type="button" class="btn btn-outline-danger">ログアウト</button>
          <% end %>
          <div class="nickname">
            <%= link_to edit_user_path(current_user) do %>
              <button type="button" class="btn btn-outline-warning" style="font-size: 19px; padding: 5px 30px 5px 30px;"><%= current_user.nickname %></button>
            <% end %>
          </div>
    <% end %>
  </div>
</div>





<div class="messages">
    <%= image_tag "baby-food.jpg", class: "baby-food" %>
</div>



<div class="form-show">

  <div class='item-contents'>
    <div class="subtitle" >
    </div>
    <ul class='item-lists'>
        <% @recipes.each do |recipe|%>
          <li class='list'>
            <%= link_to recipe_path(recipe.id) do %>
              <div class='item-img-content'>
                <%= image_tag recipe.image.variant(resize: '200x200'), class: "item-img" if recipe.image.attached? %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= recipe.title %>
                </h3>
                <div class='item-price'>
                  <span><%= recipe.allergy.allergy %></span>
                  <div class='star-btn'>
                    <%= image_tag "star.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
    </ul>
  </div>

  <div class="footer-mozi">
    <div class="concept">～ concept  </div>
    <div class="hero">Tiny Tastemakers Unleashed ！ </div>
    <div class="mozi"> . 2023 ～</div>
  </div>
</div>