<div class="items-sell-contents">
  <header class="items-sell-header">
    <%# <%= link_to image_tag('furima-logo-color.png' , size: '185x50'), "/" %> 

  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">～Cooking Chronicles～</h2>
    <div class="items-sell-form">
      <%= form_with model: @recipe, local: true do |f| %>

      <%# <%= render 'shared/error_messages', model: f.object %> 


      <%# レシピ名 %>
      <div class="new-items">
          <div class="weight-bold-text">
            レシピ名
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_field :title, class:"recipe-title", id:"recipe-name", placeholder:"レシピのタイトル", maxlength:"50" %>
      </div>

        <%# レシピの画像 %>
        <div class="new-items-one">
            <div class="weight-bold-text">
            レシピの画像
            <span class="indispensable">必須</span>
              <div class="form-group">
                <label class="text-secondary"></label><br>
                <%= f.file_field :image %>
              </div>
              <div id="new-image"></div>
          </div>


          <%# レシピの詳細 %>
          <div class="items-detail">
            <div class="form">
              <div class="items-sell-form">
                <div class="new-items-two">
                  <%# アレルギー %>
                  <div class="weight-bold-text">
                    アレルギー
                    <span class="indispensable">必須</span>
                  </div>
                  <%= f.collection_select(:allergy_id, Allergy.all, :id, :allergy, {}, {class:"select-box", id:"item-category"}) %>
                </div>
                <div class="new-items">
                  <%# 調理時間 %>
                  <div class="weight-bold-text">
                    調理時間
                    <span class="indispensable">必須</span>
                  </div>
                  <%= f.text_area :cooking_time, class:"items-text-two", id:"recipe-name", placeholder:"調理時間" %>
                </div>
                <div class="new-items">
                  <%# 材料 %>
                  <div class="items-explain">
                    <div class="weight-bold-text">
                      材料
                      <span class="indispensable">必須</span>
                    </div>
                  </div>
                  <%= f.text_area :procedure, class:"items-text", id:"recipe-info", placeholder:"材料",rows:"7" ,maxlength:"5000" %>
                </div>
                <div class="new-items">
                  <%# 調理の手順 %>
                  <div class="items-explain">
                    <div class="weight-bold-text">
                      調理の手順
                      <span class="indispensable">必須</span>
                    </div>
                  </div>
                  <%= f.text_area :procedure, class:"items-text", id:"recipe-info", placeholder:"調理の手順" ,rows:"7" ,maxlength:"5000" %>
                </div>
                <div class="new-items">
                  <%# 日持ち %>
                  <div class="weight-bold-text">
                    日持ち
                    <span class="indispensable">必須</span>
                  </div>
                  <%= f.text_area :shelf_life, class:"items-text-two", id:"recipe-name", placeholder:"日持ち" %>
                </div>
                <div class="new-items-two">
                  <%# 冷凍保存 %>
                  <div class="weight-bold-text">
                    冷凍保存
                    <span class="indispensable">必須</span>
                  </div>
                  <%= f.collection_select(:freezable_id, Freezable.all, :id, :freezable, {}, {class:"select-box", id:"item-category"}) %>
                </div>
                <div class="new-items">
                  <%# 一言 %>
                  <div class="items-explain">
                    <div class="weight-bold-text">
                      一言
                      <span class="indispensable">必須</span>
                    </div>
                    <%= f.text_area :word, class:"items-text", id:"recipe-info", placeholder:"一言（500文字まで）" ,rows:"7" ,maxlength:"500" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="items-sell-buttons">
      <div class="sell-btn-contents">
        <%= f.submit "投稿する" ,class:"sell-btn" %>
        <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
    </div>

  </div>
  <% end %>

  <footer class="items-sell-footer">

    <p class="inc">
      © Allergy Baby Avenger
    </p>
  </footer>
</div>