

<%# レシピの概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @recipe.title %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @recipe.image.variant(resize: '500x500'), class:"item-box-img" %>
    </div>

      <% if current_user.id == @recipe.user_id %>
        <%= link_to "レシピの編集", new_recipe_path(@recipe), method: :get, class: "item-red-btn" %>
        <%=link_to 'もどる', root_path, class:"back-btn" %>
        <p class="or-text">or</p>
        <%= link_to "削除", recipe_path(@recipe), method: :delete, class:"item-destroy" %>
      <% end %>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">アレルギー</th>
          <td class="detail-value"><%= @recipe.allergy.allergy %></td>
        </tr>
        <tr>
          <th class="detail-item">調理時間</th>
          <td class="detail-value"><%= @recipe.cooking_time %></td>
        </tr>
        <tr>
          <th class="detail-item">材料</th>
          <td class="detail-value"><%= @recipe.ingredients %></td>
        </tr>
        <tr>
          <th class="detail-item">調理の手順</th>
          <td class="detail-value"><%= @recipe.procedure %></td>
        </tr>
        <tr>
          <th class="detail-item">日持ち</th>
          <td class="detail-value"><%= @recipe.shelf_life %></td>
        </tr>
        <tr>
          <th class="detail-item">冷凍保存</th>
          <td class="detail-value"><%= @recipe.freezable.freezable %></td>
        </tr>
        <tr>
          <th class="detail-item">一言</th>
          <td class="detail-value"><%= @recipe.word %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <button type="submit" class="comment-btn">
        <span>コメントする<span>
      </button>
    </form>
  </div>
</div>