<head>
    <meta charset="UTF-8">
    <title>Animated Login Form</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box" >
      <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
        <h1>Login</h1>
        <%= f.email_field :email, placeholder: "Email" %>
        <%= f.password_field :password, placeholder: "Password" %>
        <%= f.submit "Login" %>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
</body>
